services:
  db:
    image: postgres:14-alpine
    container_name: postgres_db
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 30s
      timeout: 30s
      retries: 5
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_broker
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 5
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.backend
    container_name: django_web
    env_file:
      - .env.local
    expose:
      - "8000"
  worker:
    build:
      context: ./backend
      dockerfile: Dockerfile.backend
    container_name: celery_worker
    env_file:
      - .env.local
    command: celery -A backend worker --loglevel=info
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    container_name: react_frontend
    ports:
      - "80:80"

volumes:
  postgres_data: